@model SacramentMeetingPlanner.Models.MeetingPlan

@{
    ViewData["Title"] = "Details";
}

<!-- Header Section -->
<div>
    <h1>Live Oak Ward</h1>
    <h2>@Model.MeetingDate.ToString("dddd, MMMM dd, yyyy - h:mm tt")</h2>
</div>

<!-- Meeting Details Section -->
<div>
    <h4>MeetingPlan</h4>
    <hr />
    <dl class="row">
        <!-- Other details... -->

        <!-- President/Conducting Leader -->
        <dt class="col-sm-2">
            President
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PresidingLeader)
        </dd>

        <!-- Conducting Leader -->
        <dt class="col-sm-2">
            Conducting
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConductingLeader)
        </dd>

        <!-- Opening Hymn -->
        <dt class="col-sm-2">
            Opening Hymn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningHymn)
        </dd>

        <!-- Opening Prayer -->
        <dt class="col-sm-2">
            Opening Prayer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>

        <!-- Business -->
        <dt class="col-sm-2">
            Business
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Buisness)
        </dd>

        <!-- Sacrament Hymn -->
        <dt class="col-sm-2">
            Sacrament Hymn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymn)
        </dd>

        <!-- Speaker -->
        <dt class="col-sm-2">
            Speaker
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speaker)
        </dd>
        
        <!-- Closing Hymn -->
        <dt class="col-sm-2">
            Closing Hymn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingHymn)
        </dd>

        <!-- Closing Prayer -->
        <dt class="col-sm-2">
            Closing Prayer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<!-- Add this section at the end of your view -->
<div>
    <button onclick="printPage()">Print</button>
</div>

<!-- JavaScript to handle the printing -->
<script>
    function printPage() {
        window.print();
    }
</script>
